$primary: #fca311;
$secondary: #14213d;

.image-container {
  position: relative !important;

  .blue-rectangle {
    position: absolute;
    top: 10;
    left: 30;
    height: 90%;
    width: 70%;
    background-color: blue;
    opacity: 0.7;
    z-index: -1;
    border-radius: 0 0 20px 0; 
  }
}

@media screen and (max-width: 991px) {
  .image-container {
    width: 70%;
    margin: 0 auto;
  }
}
.btn-danger:hover{
  background-color: white !important;
  color: $primary !important;
}

.btn-primary:hover{
  background-color: white !important;
  color: $secondary !important;
}

.btn-light:hover{
  background-color: white !important; 
  color: $primary !important;
}
.nav-link:hover{
  color: $primary !important;

}


.btn-secondary:hover{
  background-color: white !important;
  color: $primary !important;
}

.text-underline-hover:hover{
  border-bottom: 3px solid red !important; 
}



/*@import "../node_modules/bootstrap/scss/variables";*/
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/bootstrap";
  